@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}


.App {
  text-align: center;
}

/* Asegura que el botón de categorías sea clickeable */
.categories-button {
  cursor: pointer;
}

/* Estilos para dispositivos móviles y tablet */
@media (max-width: 768px) {
  .categories-button {
    display: block; /* Mostrar en pantallas pequeñas */
  }
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 769px) {
  .categories-button {
    display: none; /* Asegurarse de que se oculte en pantallas grandes */
  }

}

